.LocationCountry .location-and-icon {
  display: flex;
}
.LocationCountry .location-icon {
  font-size: 18px;
  margin-top: 5px;
  padding: 0 10px;
}
.loading{
  text-align: center;
  margin-top:50px;
}