.App {
  font-family: "Inter", sans-serif;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #000000;
  color: #ffffff;
  text-shadow: -1.51px 2.26px 0.75px rgba(0, 0, 0, 0.1);
}

.weather-app {
  background: linear-gradient(248.66deg, #a28f8f 0%, #0b3638 100%);
  border-radius: 10px;
  padding: 10px 15px;
}
.App h1 {
  font-size: 20px;
  font-weight: 300;
  line-height: 31px;
}
.App h2 {
  font-weight: 100;
  font-size: 80px;
  line-height: 156px;
}
.App h3 {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
}
